html {
   
    margin-top: 0;
    padding-top: 0;
    
}

#whole {
    
    width: auto;
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
     text-align: center; 
     margin-top: 0;
     padding-top: 0;
     
}

body {
    
    
     margin-top: 0;
     padding-top: 0;
    
     
}

.header {
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    width:100%;
    z-index: 10;
    background-color: black;
    padding-top: 9px;
    padding-bottom: 10px;
    align-items: center; 
     
}

.header ul {
    float:right;
   padding-right: 10px;
    
}

.header li {
    display: inline-block;
    text-decoration: underline;

}

#pic {
    float:left;
    max-width: 100%;
    height: 50px;
   
 
}

.main {
    position: relative;
    padding-top: 100px;
    
    
}

.intro {
    
    height: 700px;
    
    display: flex;
    justify-content: center;
   
}

.banner  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url("./Images/img-mission-background.jpg");
    background-size: cover;
}

.banner-text {
    background-color: black;
    width: 1200px;   
   
   
}

.tea-section {
    display: flex;
    justify-content: center;

}

.teas {
   
    height: auto;
    width: 1000px;
   

   
}

.tea-text {
    display: block;
    
}

    
.boxes {
    width: 100%;
    height: auto;
    
   
 }



.tea-boxes {
   display: inline-flex;   
   flex-wrap: wrap;
   justify-content: center;
   
}


.tea-boxes img {
    height: 200px;
     width: 300px;
    margin: 0 -30px;
   
}
   

.container {
    
    margin: 0 30px;
    
}

.locations {
    
    height: 500px;
    
    padding-top: 50px;
    
    display: flex;
    justify-content: center;
    
    
}

.mug {
    display: inline-block;
    background-image: url("Images/img-locations-background.jpg");
    background-size: cover;
    width: 1200px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.mug2 {
    display: flex;
    justify-content: center;
}



.locations h2 {
    margin-top: 30px;
    display: block;
    
}

.gps-boxes {
    
    display: flex;
    justify-content: center;
    
   
}

.locbox {
   
    width: 300px;
    background-color: black;
    
    margin: 15px 20px;
}

.info {
    height: 200px;

}

footer {
    height:150px;
    text-align: left;
    margin-left: 20px;
     margin-bottom: 0;
   
}

